@model ShahrChap.Core.DTOs.ForgotPasswordViewModel

@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

@* @await Html.PartialAsync("_ToastrAlert") *@

<section class="container internal-style pt-3">
    <ol class="breadcrumb drop-shadow">
        <li class="breadcrumb-item"><a href="/">خانه</a></li>
        <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
    </ol>
</section>

<div class="register-page drop-shadow">
    <div class="container register-container">
        <span class="register-title">بازیابی کلمه عبور</span>

        <form asp-action="ForgotPassword" class="register-form">
            <div class="input-element">
                <input asp-for="EmailOrPhone" placeholder="ایمیل / شماره موبایل">
                <i class="uil uil-at icon"></i>
            </div>
                <span asp-validation-for="EmailOrPhone" class="text-danger"></span>

            <div class="register-btn">
                <input type="submit" class="signup-btn" value="بازیابی">
            </div>
        </form>
        <div class="login-signup">
            <span class="text">
                <a asp-action="login" class="text signup-link"><i class="uil uil-arrow-right"></i> بازگشت</a>
            </span>
        </div>
    </div>
</div>