@model ShahrChap.DataLayer.Entities.User.User
@{
    ViewData["Title"] = "ارسال ایمیل فعال سازی";
}
<section class="container internal-style pt-3">
    <ol class="breadcrumb drop-shadow">
        <li class="breadcrumb-item"><a href="/">خانه</a></li>
        <li class="breadcrumb-item active" aria-current="page">فعال سازی حساب کاربری</li>
    </ol>
</section>

<div class="container alert drop-shadow">
    <div class="bg-green px-3 py-3 text-white rounded-top alert-header">
        <i class="uil uil-check-circle"></i> ثبت نام با موفقیت انجام شد
    </div>
    <div class="px-4 py-3 bg-white rounded-bottom alert-footer">
        <p>@Model.UserName ایمیلی حاوی لینک فعالسازی به ایمیل "@Model.Email" ارسال شد!</p>
        <p>جهت فعالسازی حساب کاربری خود، وارد ایمیل خود شوید و بر روی لینک کلیک کنید.</p>
        <p class="text txt-dark-yellow notice-text">
            ** توجه: اگر ایمیل مورد نظر را در صندوق ورودی (Inbox) خود پیدا نکردید، لطفاً پوشه هرزنامه (Spam) را نیز بررسی کنید. ممکن است ایمیل به آنجا منتقل شده باشد.
        </p>
    </div>
</div>

