@page
@model ShahrChap.Web.Pages.Admin.AdminAccessDeniedModel
@{
    ViewData["Title"] = "دسترسی غیرمجاز";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">دسترسی غیرمجاز</h1>
    </div>
</div>

<div class="alert alert-danger">
    <p>متاسفانه شما دسترسی لازم برای ورود به این بخش را ندارید. لطفاً با مدیر سیستم تماس بگیرید!</p>
</div>