@page "{id}"
@using ShahrChap.DataLayer.Entities.Permissions
@model ShahrChap.Web.Pages.Admin.Roles.DeleteRoleModel
@{
    ViewData["Title"] = "- حذف نقش";
}

<div class="container mt-4">
    <div class="row mb-2">
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/Admin">صفحه نخست</a></li>
                <li class="breadcrumb-item"><a href="/Admin/Roles">لیست نقش ها</a></li>
                <li class="breadcrumb-item active">حذف نقش @Model.Role.RoleTitle</li>
            </ol>
        </div>
    </div>

    <div class="card border-danger shadow-lg">
        <div class="card-header bg-danger text-white">
            <h5 class="mb-0"><i class="uil uil-exclamation-triangle"></i> حذف محصول "@Model.Role.RoleTitle"</h5>
        </div>
        <div class="card-body text-center">
            <p>آیا از حذف نقش "@Model.Role.RoleTitle" مطمئن هستید؟</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="/admin/roles" class="btn btn-default"><i class="uil uil-angle-right"></i> بازگشت</a>
            <form method="post">
                <input type="hidden" asp-for="Role.RoleId" />
                <input type="hidden" asp-for="Role.RoleTitle" />
                <button type="submit" class="btn btn-danger"><i class="uil uil-trash-alt"></i> حذف</button>
            </form>
        </div>
    </div>
</div>