@page
@* @using ShahrChap.DataLayer.Entities.Product *@
@model ShahrChap.Web.Pages.Admin.Products.CreateProductModel
@{
    ViewData["Title"] = "- افزودن محصول جدید";
}
<div class="row mb-2">
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Admin"><i class="uil uil-estate"></i>صفحه نخست</a></li>
            <li class="breadcrumb-item text-primary"><a href="/Admin/Products"><i class="uil uil-list-ul"></i> لیست محصولات</a></li>
            <li class="breadcrumb-item active text-success"><i class="uil uil-plus-circle"></i>افزودن محصول</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-8">
                    <h2>افزودن گروه محصولات جدید</h2>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Product.ProductTitle"></label>
                        <input asp-for="Product.ProductTitle" class="form-control">
                        <span asp-validation-for="Product.ProductTitle"></span>
                    </div>
                    <div class="form-group">
                        <label>گروه اصلی</label>
                        <select class="form-control" asp-for="Product.GroupId" asp-items="@(ViewData["Groups"] as SelectList)">
                            <option value="" selected="">انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="Product.GroupId"></span>
                    </div>
                    <div class="form-group">
                        <label>زیر گروه</label>
                        <select class="form-control" asp-for="Product.SubGroupId" asp-items="@(ViewData["SubGroup"] as SelectList)">
                            <option value="null" selected="">انتخاب کنید</option>
                        </select>
                        <p class="text-warning">درصورتی که محصول شما زیرگروهی ندارد، این گزینه را به حالت انتخاب کنید قرار دهید.</p>
                        <span asp-validation-for="Product.SubGroupId"></span>
                    </div>
                    <div class="form-group">
                        <label>شرح دوره</label>
                        <textarea class="form-control" asp-for="Product.Description" rows="7"></textarea>
                        <span asp-validation-for="Product.Description"></span>
                    </div>
                    <div class="form-group">
                        <label>نکات چاپ</label>
                        <textarea class="form-control" asp-for="Product.PrintingTips" rows="7"></textarea>
                        <span asp-validation-for="Product.PrintingTips"></span>
                    </div>
                    <div class="form-group">
                        <label>کلمات کلیدی</label>
                        <input class="form-control" asp-for="Product.Tags">
                        <p class="text-warning">کلمات کلیدی را با - جدا کنید</p>
                        <span asp-validation-for="Product.Tags"></span>
                    </div>
                    <a href="/Admin/Products" class="btn btn-default"><i class="uil uil-angle-right"></i> بازگشت</a>
                    <button type="submit" class="btn btn-success"><i class="uil uil-plus-circle"></i> افزودن</button>
                </div>
                <div class="col-md-4 border-1 d-flex flex-column align-items-center">
                    <br />
                    <img id="imgProduct" class="thumbnail mb05 user-avatar" src="/product/image/NoImage.jpg" />
                    <div class="form-group">
                        <label>انتخاب تصویر</label>
                        <input type="file" name="imgProduct" asp-for="Product.Image" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $("#Product_GroupId").change(function(){
            $("#Product_SubGroupId").empty();
            $("#Product_SubGroupId").append('<option value=0> انتخاب کنید </option>');
            $.getJSON("/Admin/Products/CreateProduct?handler=Json&id="+$("#Product_GroupId :selected").val(),
            function(data){
                $.each(data, function(){
                    $("#Product_SubGroupId").append('<option value='
                    +this.value+ '>' + this.text+ '</option>');
                });
            });
        })

        $(document).ready(function () {
            $('#Product_Image').change(function (event) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgProduct').attr('src', e.target.result);
                }
                reader.readAsDataURL(event.target.files[0]);
            });
        });
    </script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Product_Description', {
            customConfig: '/js/Config.js'
        });
        CKEDITOR.replace('Product_PrintingTips', {
            customConfig: '/js/Config.js'
        });
    </script>
}