@page "{id}"
@model ShahrChap.Web.Pages.Admin.Features.DeleteFeatureModel
@{
    ViewData["Title"] = "- حذف ویژگی";
}
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-2 rounded-3">
                    <li class="breadcrumb-item"><a href="/Admin"><i class="uil uil-estate"></i> صفحه نخست</a></li>
                    <li class="breadcrumb-item"><a href="/Admin/Features"><i class="uil uil-list-ul"></i> لیست ویژگی ها</a></li>
                    <li class="breadcrumb-item active text-danger" aria-current="page"><i class="uil uil-trash-alt"></i> حذف ویژگی @Model.Feature.FeatureTitle</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="card border-danger shadow-lg">
        <div class="card-header bg-danger text-white">
            <h5 class="mb-0"><i class="uil uil-exclamation-triangle"></i> حذف محصول "@Model.Feature.FeatureTitle"</h5>
        </div>
        <div class="card-body text-center">
            <p>آیا از حذف نقش "@Model.Feature.FeatureTitle" مطمئن هستید؟</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="/Admin/Features" class="btn btn-light border"><i class="uil uil-angle-right"></i> بازگشت</a>
            <form method="post">
                <input type="hidden" asp-for="Feature.FeatureId" />
                <input type="hidden" asp-for="Feature.FeatureTitle" />
                <button type="submit" class="btn btn-danger"><i class="uil uil-trash-alt"></i> حذف</button>
            </form>
        </div>
    </div>
</div>