@using ShahrChap.DataLayer.Entities.Product
@model IEnumerable<ProductGroup>
@foreach(var item in Model.Where(g=> g.ParentId == null))
{
    <li class="nav-item dropdown">
        <a class="@((Model.Any(g=> g.ParentId == item.GroupId)? "nav-link dropdown-toggle":""))" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="@item.IconClass"></i> @item.GroupTitle
        </a>
        @if(Model.Any(g=> g.ParentId == item.GroupId))
        {
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                @foreach(var sub in Model.Where(g=> g.ParentId == item.GroupId))
                {
                <ul>
                    <li><a class="dropdown-item" href="#">چاپ تراکت</a></li>
                        @if(Model.Any(g=> g.ParentId == sub.GroupId))
                        {
                            @foreach(var underSub in Model.Where(g=> g.ParentId == sub.GroupId))
                            {
                                <li><a class="dropdown-item" href="#">@underSub.GroupTitle</a></li>
                            }
                        }
                    </ul>
                }
            </div>
        }
    </li>
}