@{
    ViewData["Title"] = "فعالسازی";
}
 
<section class="container internal-style pt-3">
    <ol class="breadcrumb drop-shadow">
        <li class="breadcrumb-item"><a href="/">خانه</a></li>
        <li class="breadcrumb-item active" aria-current="page">ویرایش حساب کاربری</li>
    </ol>
</section>
<div class="container alert drop-shadow">
    @if (ViewBag.IsActive)
    {
        <div class="bg-green px-3 py-3 text-white rounded-top alert-header">
            <i class="uil uil-check-circle"></i> ایمیل حساب کاربری شما با موفقیت فعال شد
        </div>
    }
    else
    {
        <div class="bg-red px-3 py-3 text-white rounded-top alert-header">
            <i class="uil uil-exclamation-circle"></i> خطایی رخ داده است
        </div>
        <div class="px-4 py-3bg-white rounded-bottom alert-footer">
            <p>حساب کاربری با مشخصات وارد شده یافت نشد!</p>
        </div>
    }
</div>