@model ShahrChap.Core.DTOs.EditProfileViewModel
@{
    ViewData["Title"] = "ویرایش حساب کاربری";
}
@if(ViewBag.ToastrMessage != ""){
<partial name="_ToastrAlert" />
}

<section class="container internal-style pt-3">
    <ol class="breadcrumb drop-shadow">
        <li class="breadcrumb-item"><a href="/">خانه</a></li>
        <li class="breadcrumb-item active" aria-current="page">ویرایش حساب کاربری</li>
    </ol>
</section>

<section class="container">
    <div class="user-account">
        <div class="row">
            <partial name="_SideBar"/>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <section class="user-account-content  drop-shadow">
                    <header>
                        <h1> داشبورد </h1>
                    </header>
                    <div class="inner">
                        <div class="account-information">
                            <form asp-action="EditProfile" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="CurrentAvatarName"/>
                                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <div class="col-md-7 col-sm-10 col-xs-12">
                                            <div class="input-group">
                                                <i class="icon uil uil-user"></i>
                                                <input type="text" asp-for="UserName" class="form-control" placeholder="نام کاربری">
                                            </div>
                                            <span class="txt-red" asp-validation-for="UserName"></span>
                                        </div>
                                        @if (Model.Email != null)
                                        {
                                            <div class="col-md-7 col-sm-10 col-xs-12">
                                                <div class="input-group">
                                                    <i class="icon uil uil-envelope"></i>
                                                    <input type="text" asp-for="Email" class="form-control" placeholder="ایمیل">
                                                </div>
                                                <span class="txt-red" asp-validation-for="Email"></span>
                                                <span class="txt-dark-yellow"><i class="uil uil-exclamation-triangle"></i> پس از تغییر ایمیل مجددا با لینک فعالسازی ارسالی، ایمیل خود را فعال کنید</span>
                                            </div>
                                        }
                                        @if (Model.Phone != null)
                                        {
                                            <div class="col-md-7 col-sm-10 col-xs-12">
                                                <div class="input-group">
                                                    <i class="icon uil uil-mobile-android"></i>
                                                    <input type="text" asp-for="Phone" class="form-control" placeholder="شماره موبایل">
                                                </div>
                                                <span class="txt-red" asp-validation-for="Phone"></span>
                                                <span class="txt-dark-yellow"><i class="uil uil-exclamation-triangle"></i> پس از ویرایش، مجددا باید شماره جدید را تایید کنید </span>
                                            </div>
                                        }

                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="image-upload d-flex flex-column align-items-center">
                                            <img src="/UserAvatar/@Model.CurrentAvatarName" class="mb-2" alt="">
                                            <label for="file-upload" class="file-upload-button btn btn-outline-orange">
                                                <i class="uil uil-upload"></i> بارگزاری تصویر</label>
                                            <input type="file" accept=".jpg,.jpeg,.png" asp-for="UserAvatar" id="file-upload" class="file-upload-input"/>
                                            <span class="txt-red" asp-validation-for="UserAvatar" id="file-validation"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-10 col-xs-12">
                                        <div class="input-group">
                                            <button class="btn btn-blue">
                                                <i class="uil uil-file-edit-alt"></i>
                                                ویرایش </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('uploadForm').addEventListener('submit', function (e) {
        var fileInput = document.getElementById('file-upload');
        var file = fileInput.files[0];
        var errorSpan = document.getElementById('file-validation');

        if (file) {
            var fileType = file.type;
            var fileSize = file.size;

            if (!['image/jpeg', 'image/jpg', 'image/png'].includes(fileType)) {
                errorSpan.textContent = 'نوع فایل نامعتبر است. فقط JPEG، JPG و PNG مجاز هستند.';
                e.preventDefault();
            } else if (fileSize > 5 * 1024 * 1024) { // 5MB in bytes
                errorSpan.textContent = 'حجم فایل باید کمتر از ۵ مگابایت باشد';
                e.preventDefault();
            } else {
                errorSpan.textContent = '';
            }
        }
    });
</script>