@model ShahrChap.DataLayer.Entities.User.User


<div style="direction:rtl; text-align:center;">
    <div style="background-color: #F0BB0F; padding:20px; color:white;">
        <h1>شهر چاپ</h1>
        <h4 style="margin-top: 1rem;">فعالسازی حساب کاربری</h4>
    </div>
    <div style="font-weight:bold; color:black; margin-top: 2rem;">
        <h4>@Model.UserName عزیز!</h4>
    </div>
    <div style="color: #828282; margin-top: 20px;">
        <p>با سپاس از ثبت نام شما در سایت شهر چاپ</p>
        <p>برای فعالسازی حساب کاربری خود بر روی لینک زیر کلیک کنید</p>
    </div>
    <a href="https://localhost:7254/Account/ActiveEmail/@Model.ActiveCode" style="margin-top: 50px; background-color: #F0BB0F; text-decoration: none; color: white; padding: 15px; align-content: center; border-radius: 8px; font-weight:bold;">فعالسازی</a>
</div>